body {
  margin: 0;
  font-family: 'Georgia', serif;
  color: #333;
  background-color: #fff;
}

.hero {
  background: url('hotelmountains.jpg') no-repeat center center/cover;
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background: white;
}

.navbar h1{
    color: black;
}

.navbar ul li a{
    color: black;
}

.logo {
  font-size: 2rem;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #c5a3ff;
}

.hero-content {
  text-align: center;
  margin-bottom: 120px;
}

.hero-content h2 {
  font-size: 3.5rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.3rem;
  margin: 15px 0;
}

.btn {
  background-color: purple;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: gold;
}

.about {
  padding: 80px 60px;
  background-color: purple;
  text-align: center;
}

.about h1{
    color: white;
}

.about p{
    color: white;
}

.about-cards {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.about-card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 28%;
  overflow: hidden;
  text-align: center;
}

.about-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Villas Section */
.villas {
  padding: 80px 60px;
  background-color: beige;
  text-align: center;
}

.villas h2 {
  font-size: 2.8rem;
  margin-bottom: 50px;
  color:purple;
}

.villa-cards {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.villa-card {
  background: beige;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 28%;
  overflow: hidden;
  text-align: center;
}

.villa-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.villa-card h3 {
  margin-top: 15px;
  color: purple;
  font-size: 1.5rem;
}

.villa-card p {
  padding: 15px 20px 30px;
  font-size: 1rem;
  color: purple;
}

.extra {
  padding: 80px 60px;
  background-color: purple;
  text-align: center;
}

.extra h1{
    color: white;
}

.extra p{
    color: white;
}

.extra-cards {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.extra-card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 28%;
  overflow: hidden;
  text-align: center;
}

.extra-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.extra1 {
  padding: 80px 60px;
  background-color: purple;
  text-align: center;
}

.extra1 h1{
    color: white;
}

.extra1 p{
    color: white;
}

.extra1-cards {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.extra1-card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 28%;
  overflow: hidden;
  text-align: center;
}

.extra1-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Offers Section */
.offers {
  padding: 80px 60px;
  background-color: beige;
  text-align: center;
}

.offers h2 {
  font-size: 2.8rem;
  margin-bottom: 50px;
  color: purple;
}

.offer-cards {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.offer-card {
  background: beige;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 28%;
  overflow: hidden;
  text-align: center;
}

.offer-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.offer-card h3 {
  margin-top: 18px;
  color: purple;
  font-size: 1.4rem;
  
}

.offer-card p {
  padding: 15px 20px 30px;
  font-size: 1rem;
  color: purple;
}

/* Testimonials Section */
.testimonials {
  background-color: purple;
  padding: 80px 60px;
  text-align: center;
}

.testimonials h2 {
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: white;
}

.testimonial-cards {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.testimonial {
  background: purple;
  border-radius: 15px;
  width: 28%;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.testimonial p {
  font-style: italic;
  margin-bottom: 20px;
  color:white;
}

.testimonial h4 {
  color: white;
  margin: 0;
}

/* Footer */
footer {
  background: url('wine.gif') no-repeat center center/cover;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

footer h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

footer p {
  margin: 8px 0;
  font-size: 1rem;
}
